build
.gradle
native-repo
maven-repo

# ignore vs files
**/*.sln
**/.vs/
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

# ignore eclipse files
**/.project
**/.classpath
**/.settings
